*{
    box-sizing: border-box;
}
$main-dark-color: #323232;

@mixin font-lato($color, $font-size) {
    font-family: "Lato";
    color: $color;
    font-size: $font-size;
}
@mixin font-maven($color, $font-size) {
    font-family: "Maven";
    color: $color;
    font-size: $font-size;
}
body{
    // max-width: 1020px;
}
ul{
    // display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}