.form{
    background-color: $main-dark-color;
    padding: 6vh 0 16vh;
    .content{
        max-width: 780px;
        margin: 0 auto;
    }
    .form-name{
        @include font-maven(#e0e0e0, 30px);
        margin: 0;
    }
    .form-text{
        @include font-maven(#bebebe, 18px);
    }
    .flex{
        display: flex;
        justify-content: space-between;
        
    }
    .form-left{
        max-width: 74%;
    }
    form>*{
        box-sizing: border-box;
        border: none;
        @include font-lato(#bebebe, 12px);
        background-color: #454545;
        padding: 1em 1.25em;
        margin: 1.25em 0;
        width: 100%;
    }
    .form-right{
        max-width: 23.5%;
    }
    .form-right-text{
        @include font-lato(#e0e0e0, 12px);
        line-height: 22px;
        span{
            font-weight: bold;
        }

    }
    form{
        position: relative;
    }
    .button{
        @include font-lato(#d7fcf5, 12px);
        background-color: #2eb398;
        width: 15.5%;
        margin-right: 0;
        position: absolute;
        right: 0;
        bottom: -5em;
        cursor: pointer;
    }
    .button:hover{
        background: radial-gradient(#217c6a, #2eb398)
    }
    .contact-information{
        
        a{
            @include font-lato(#bebebe, 12px);
            line-height: 22px;
            padding-left: 2em;

        }
        .adress, .phone-number, .our-email{
            background-position: left center;
            background-repeat: no-repeat;
        }
        .adress{
            background-image: url(../img/location.svg);
        }
        .adress:hover{
            background-image: url(../img/location-hover.svg);
        }
        .phone-number{
            background-image: url(../img/phone.svg);
        }
        .phone-number:hover{
            background-image: url(../img/phone-hover.svg);
        }
        .our-email{
            background-image: url(../img/mail.svg);
        }
        .our-email:hover{
            background-image: url(../img/mail-hover.svg);
        }
    }
}

@media screen and (max-width:620px){
    .form{
        .flex{
        flex-wrap: wrap;
    }
    .form-left, .form-right{
        margin: 0 auto;
        max-width: 80%;
        .button{
           width: 30%;
        }
    }
    .form-right{
        padding-top: 15%;
    }
    }
}