header{
    background-color: $main-dark-color;
}
nav{
    .menu{
        margin: 0 auto;
        max-width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            display: inline-block;
            height: 100%;
        }
         a{
            @include font-lato(#d7fcf5,12px);
            height: 100%;
        }
         a:hover{
            color: #2eb398;
         }
         img{
             padding-top: 11px;
         }
        //  ul:first-child::after{
        //     content: "-";
        //  }
    }
    
}
.triangle{
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        border-top: 26px solid $main-dark-color;
}