.person{
    background-color: #2eb398;
    padding: 5vh 10vw;
    .content{
        display: flex;
        padding: 0 2vw;
        border-left: 1px solid #219d84;
        border-right: 1px solid #219d84;
        .right{
            padding-left: 1.25rem;
        }
        .left{
            .hexagon {
                overflow: hidden;
                visibility: hidden;
                transform: rotate(120deg);
                cursor: pointer;
            }
            .hexagon-in1 {
                overflow: hidden;
                width: 100%;
                height: 100%;
                transform: rotate(-60deg);
                }
            .hexagon-in2 {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: 50%;
                background-image: url(../img/face.png);
                visibility: visible;
                transform: rotate(-60deg);
                background-size: 235% auto;
                }
                .hexagon2 {
                    width: 200px;
                    height: 400px;
                    margin: -80px 0 0 20px;
                }
        }
            
    }
    
}
.name{
  @include font-maven(#26413c, 30px);

      margin-bottom: 0;

}
.profession{
    @include font-maven(#20816d, 18px);
    margin-top: 0;
  }
.article{
    @include font-lato(#d7fcf5, 12px);
    line-height: 22px;
}
.networks{
    display: flex;
    justify-content: flex-end;
    padding-top: 2.5rem;
    .icon{
         height: 25px;
         width: 25px;
    }
    .facebook{
        background-image: url(../img/Facebook.svg);
    }
    .twitter{
        background-image: url(../img/Twitter.svg);
    }
    .google{
        background-image: url(../img/Google.svg);
    }
    .printerest{
        background-image: url(../img/Pinterest.svg);
    }
    .linkedin{
        background-image: url(../img/Linkedin.svg);
    }
    .dribbble{
        background-image: url(../img/Dribbble.svg);
    }
}

@media screen and (max-width: 550px){
    .person{
        .content{
            flex-wrap: wrap;
        }
    }
}

